*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.todo-container {
    width: 100%;
    min-height: 100vh;
    background: #8260a2;
    padding: 10px;    
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #3c383e;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 14px;
}

.todo-app h2{
    color: white;
    display:flex;
    align-items: center;
    margin-bottom:20px;
}

.todo-app img{
    width: 35px;
    margin-left:15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f0c3e2;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
   flex: 1;
   border: none;
   outline: none;
   background-color: #f0c3e2;
   color:#3c383e;
   padding: 10px;
   border-radius: 30px;
}

input:focus {
   background: #f0c3e2;
   border: none;
   outline: none;
   box-shadow: none;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #8260a2;
    color: white;
    border-radius: 30px;
    font-size: 17px;
    cursor:pointer;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    color:#f0c3e2;
    position: relative;
    transition: 0.2s;
}

ul li::before{
   content: '';
   position: absolute;
   height:28px;
   width: 28px;
   border-radius: 50%;
   background-image: url(unchecked.png);
   background-size: cover;
   background-position: center;
   top: 6px;
   left: 10px;
   transition: 0.25s;
}

ul li.checked::before{
    background-image: url(checked1.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#f0c3e2;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
}

ul li span:hover{
    background: #b18fbf;
    cursor: pointer;
}

header {
    background-color: #8260a2;
    padding: 15px 30px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kuronav h1{
    color: white;
    font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

 .navbar {
  list-style: none;
  display: flex;
  gap: 30px;  
  margin: 0;
  padding: 0;
}

.nav-links a{
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffb6c1; 
}